<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kenyan Cosplay</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="navbar">
        <a href="#section1">Upload Content</a>
        <a href="#section2">Upload Photo</a>
    </nav>

    <!-- Sections -->

    <section id="sectoin1">
        <h2>Services Section</h2>
        <p>Our services go here.</p>
    </section>

    <section id="section2">
        <h2>Contact Section</h2>
        <p>Contact us at contact@example.com.</p>

</body>
</html>

